body {
    text-align: center;
    font-family: Arial, sans-serif;
    background: #111;
    color: white;
}

h1 {
    margin-top: 20px;
    font-size: 30px;
}

#menu button {
    margin: 15px;
    padding: 15px 25px;
    font-size: 20px;
    border: none;
    background: #00ff88;
    color: black;
    border-radius: 10px;
    cursor: pointer;
}

.game {
    margin-top: 20px;
}

.hidden {
    display: none;
}

/* Snake */
#snakeCanvas {
    background: #222;
    border: 3px solid #00ff88;
    margin-top: 20px;
}

.controls button {
    margin: 10px;
    padding: 15px;
    font-size: 20px;
    border-radius: 10px;
    background: #00ff88;
    border: none;
    cursor: pointer;
}

.back {
    margin-top: 20px;
    padding: 10px 20px;
    background: orange;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

/* Tic Tac Toe */
.board {
    width: 300px;
    height: 300px;
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.board div {
    width: 100px;
    height: 100px;
    background: #333;
    border: 2px solid #00ff88;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 45px;
    cursor: pointer;
    color: #00ff88;
}
